/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 28/08/2021, 17:36:29
    Author     : joel
*/
.row > div {
    text-align: center;
}

.errores {
    height: 800px;
    background: #f2f2f2
}