
.table-data {
    text-align: center;
    height: 750px;
    width: 100%;
    overflow-y: scroll;
}

p,h3, h6,h5,h4, .table, .form-control {
    text-align: center;
}

h4 {background-color: #478c88}


